services:
  app:
    networks:
      - internal
      - public
    build: 
      context: .
      dockerfile: Dockerfile.golang

  caddy:
    image: caddy:2-alpine
    ports:
      - "8080:8080"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data      
      - caddy_config:/config
      - caddy_logs:/var/log/caddy
    depends_on:
      - app
    networks:
      - internal
      - public

networks:
  internal:
    internal: true
  public:


volumes:
  caddy_logs:
  caddy_data: 
  caddy_config: 